body{
    background-color: white;
}
.container{
    width: 900px;
    height: 600px;
    background-color: darkcyan;
    margin: auto;
    display: flex;
    margin-top: 0px;
    flex-wrap: wrap;
}
.item{
    width: 200px;
    height: 130px;
    background-color: darkslategrey;
    margin-right: 0px;
    margin-left: 20px;
    display: block;
    margin-top:20px;
    margin-bottom: 0px;
}
.content{
    height: 340px;
    width: 860px;
    margin: auto;
    background-color: antiquewhite;
}

.sbubtitles{
height: 25px;
width: 860px;
margin: auto;
background-color: aquamarine
}

.reset{
    width: 100%;
    height: 0;
    clear: both;
}

#footer{
    width: 900px;
    height: 100px;
    margin: auto;
    background-color: darkgray;

}